
<body>
    <section class="page-404">
        <div class="container center-all">
            <h1><strong>404</strong</h1>
            <h3>Page not found</h3>
            <a class="link style-light center-all" href="/">Назад</a>
        </div>
    </section>
</body>
