
<body>
    <section class="front-page no-padding three-per-row-no-margin">
        <div class="container grid-el column between">
            <header class="header vertical-center">
                <a class="logo" href="/">BloodBucket</a>
            </header>
            <div class="text-container">
                <h2>We will find <br> blood for <br> <strong>your live</strong></h2>
                <a class="link style-light center-all" href="/login">Log in</a>
            </div>
            <div class="counter one-per-row">
                <div class="number grid-el column center-all">
                    <h5><strong>255л +</strong></h5>
                    <p>Здано</p>
                </div>
            </div>
        </div>
        <div class="container grid-el center-all action">
            <a class="center-all" href="/signup/pacient">
                <h4>Потребую <br> кров</h4>
                <div class="dark-bg"></div>
                <img src="./assets/img/jpg/header-2.jpg" alt="">
            </a>
        </div>
        <div class="container grid-el center-all action">
            <a class="center-all" href="/signup/donor">
                <h4>Стати <br> донором</h4>
                <div class="dark-bg"></div>
                <img src="./assets/img/png/header-1.png" alt="">
            </a>
        </div>
    </section>
    <section class="site-footer">
        <footer class="footer vertical-center">
            <a class="logo" href="/">BloodBucket</a>
        </footer>
    </section>
</body>
