/*
* Header stylesheet
* This file includes two types of header (header-hero and header-default)
*
*/

& header.header{
    width: 100%;
    position: relative;
    height: 100px;  
    box-sizing: border-box;
}