//main: ../style.less 
@import "../abstracts/_global.less";


section.log-in,
section.donor-sign-up,
section.needBlood-sign-up{
    & .container{
        min-height: 100vh;
        & img{
            .image-fit();
            .absolute-pos();
        }
        & .form-container{
            width: 100%;
            min-height: calc(100vh - 100px);
            & form{
                width: 55%;                
            }
        }
    }
}
@media (max-width: 767px) {
    section.log-in,
    section.donor-sign-up,
    section.needBlood-sign-up{
        & .form-container{
            & form{
                width: 85% !important;                
            }
        }
        & .container:last-child{
            display: none;
        }
    }
}