@import "../abstracts/_global.less";
section.front-page{
    & .container{
        min-height: 100vh;
        &.action{
            h4{
                z-index: 3;
                color: @whiteColor;
                font-weight: 600;
            }
            & .dark-bg{
                z-index: 2;
            }
            & img{
                z-index: 1;
                .image-fit;
                .absolute-pos;
            }
            &:hover{
                & .dark-bg{
                    .min-opacity();
                }
            }
        }
        & header.header{
            padding-left: 2vw;
        }
        & .text-container{
            box-sizing: border-box;
            padding-left: 2vw;
            & strong{
                color: @redColor;
            }
            & h2{
                text-transform: uppercase;
            }
        }
        & .counter{
            width: 100%;
            background-color: @redColor;
            & .number{
                color: @whiteColor;
                min-height: 200px;
            }
        }
    }
}
@media (max-width: 1199px) {
    section.front-page{
        & .container{
            min-height: 50vh;
        }
        .text-container{
            padding: @defaultSectionPadding;
        }
    }
}